<footer>
<hr>
	<div class="row">
		<div class="col-sm-7 col-md-7">
			Ruby on rails tutorial
		</div>
		<div class="col-sm-1 col-md-1">
			About
		</div>
		<div class="col-sm-3 col-md-3">
			Contact<br>
			Nguyễn Huy Hoàng<br>
			Phone: 0167 972 6339
		</div>
		<div class="col-sm-1 col-md-1">
			News
		</div>
		
	</div>
</footer>